<body>
  <div class="main-div">
    <mat-card>
      <form [formGroup]="loginForm">
  
        <mat-card-title>$(NombreEmpresa)</mat-card-title>
        <mat-card-subtitle>Login</mat-card-subtitle>
  
        
        <p class="p-input">
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput id="username" #username required>
          </mat-form-field>
        </p>
  
        <div class="form-group" class="p-input">
          <mat-form-field class="p-input">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" id="pass" name="password" minlength="8" required #password>
          </mat-form-field>
        </div>
        <br />
        <p class="p-input"> <button ng-click="login(username.value, password.value)" class="p-button" mat-flat-button color="primary">Ingresar</button></p>
        </form>
  </mat-card>
  </div>
</body>

