.header-home{
    height: 800px;
}

.spacer-toolbar {
  flex: 1 1 auto;
}

.semi-spacer-toolbar{
  flex: 0.5 0.5 auto;
}

.same-row-spacer-toolbar{
  flex: 0.035 0.035 auto;
}

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #24292e;
    color: white;
    font-weight: 600;
  }