

<body>
    <div class="main-div">
     
        <mat-card *ngFor="">
    
          <mat-card-title>$(Descripción Proyecto)</mat-card-title>
          <mat-card-subtitle>Login</mat-card-subtitle>
    
          
          <p class="p-input">
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
            </mat-form-field>
          </p>
    
          <div class="p-input">
              <mat-label>Contraseña</mat-label>
          </div>
          <br />

    </mat-card>

    <!--
<div *ngFor="let module of modules">
    <mat-card>
        <mat-card-title>$Module name</mat-card-title>
        <mat-label *ngIf=""></mat-label>
        <div *ngFor="let user in module.users">
            <mat-label>{{ user.fullname }}</mat-label>
        </div>
    </mat-card>
</div>
-->

    </div>
  </body>
  
